
#full{
    margin-top:20px;
    margin-left: 450px;
    margin-right: 550px;
  }
  #rating{
    width: 90px;
    display: inherit;
  }#name{
     margin-left: 210px;
     margin-top:-190px;
   }
  #txt{
    margin-left: 210px;
  }
  