<app-top-bar></app-top-bar>
<div class="main-area">
  <div class="main-block">
    <h1>{{ section.name }}</h1>
    <button class="add-topic-btn" (click)="showCreateComponent()"><span>Add new heading</span></button>
    <div *ngIf="showComponent">
      <app-make-heading>
      </app-make-heading>
    </div>
    <div class="topics">
      <div *ngFor="let heading of headings">
        <app-heading [heading]="heading">
        </app-heading>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
