<app-top-bar></app-top-bar>
<div class="about-page">
  <div class="about-section">
    <h1>About Us</h1>
    <p>Veggie is here to help you cook delicious meals with less stress and more joy. We offer recipes and cooking advice for home cooks, by home cooks. Helping create “kitchen wins” is what we’re all about.
      Our recipes primarily use fresh, unprocessed ingredients but we also believe there is a time and a place for canned, frozen, and other prepared ingredients. We believe in a diet that includes a wide variety of foods: real butter and cream, extra virgin olive oil, eggs, lots of fruits and vegetables, and protein from meat, fish, beans, and cheese. Plus cake for dessert.
      There are three things we think about when deciding if a recipe is good enough to go on Simply Recipes:
      First, does it work? Recipes need to be easy to follow and provide reliable results, every time.
      Second, is it delicious? Does the dish make us smile inside and out? Do we want to eat the whole batch by ourselves? 
      Third, is it worth the effort? Do we want to make it again (and again and again)?
      To make sure each of these standards is met, we start by working with expert recipe developers  — people with the experience and knowledge to not only develop a good recipe in their own kitchens, but to make sure that recipe works in yours. Next, we thoroughly review and edit every recipe in-house line by line. Finally, each new recipe is run by our team of recipe testers working in home kitchens with the same pots, pans, and tools that you use in yours. Only after all this is the recipe shared on Simply Recipes.</p>
  </div>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://www.w3schools.com/w3images/team1.jpg" style="width:100%">
      <div class="container">
        <h2>Farida Tyulekbaeva</h2>
        <p class="title">Frontend & Backend developer</p>
        <p>KBTU, FIT, 2 course</p>
        <p>f_tyulekbaeva@kbtu.kz</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://www.w3schools.com/w3images/team1.jpg" style="width:100%">
      <div class="container">
        <h2>Danagul Sailau</h2>
        <p class="title">Frontend & Backend developer</p>
        <p>KBTU, FIT, 2 course</p>
        <p>d_sailau@kbtu.kz</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://www.w3schools.com/w3images/team1.jpg" style="width:100%">
      <div class="container">
        <h2>Zhansaya Karboz</h2>
        <p class="title">Frontend & Backend developer</p>
        <p>KBTU, FIT, 2 course</p>
        <p>z_karboz@kbtu.kz</p>
      </div>
    </div>
  </div>
</div>