<header>
  <div class="banner">
    <a routerLink="/home"><img id = "logo"  src="../../assets/logo_png.png" alt=""></a>
    <div class="side-buttons">
      <div *ngIf="user == undefined; else loggedin">
        <a routerLink="/login">Sign in</a>
        <a routerLink="/registration">Sign up</a>
      </div>
      <ng-template #loggedin>
        <a href="#">
          {{ user.username }}
        </a>
        <a (click)="logOut()">Log out</a>
      </ng-template>
    </div>
  </div>
</header>

<div class="top-bar">
  <input type="text" placeholder="Write to search...">
  <a routerLink="/about">About</a>
  <a routerLink="/recipes">Recipes</a>
  <a routerLink="/home">Home</a>
</div>