<div>
  <button (click)="showCreateComponent()" class="add-sub"><span>Add new subheading</span></button>
  <div *ngIf="showComponent">
    <app-create-subheading [curheading]="heading">
    </app-create-subheading>
  </div>
  <div *ngFor="let subheading of subheadings" class="whole">
    <div class="wrap">
      <a>{{ subheading.name }}</a>
      <div class="buttons">
        <button routerLink="/subheadings/{{ subheading.id }}/edit"><span>Edit</span></button>
        <button (click)="delete(subheading.id)"><span>Delete</span></button>
      </div>
    </div>
  </div>
</div>
