<footer>
  <div class="list1">
    <div>
      <a href="https://instagram.com/" ><img class="icons" src="../../assets/icon-instagram.png" alt="Insta"></a>
    </div>
    <div>
      <a href="https://youtube.com/"><img class="icons" src="../../assets/icon-youtube.png" alt="Youtube"></a>
    </div>
    <div>
      <a href="https://facebook.com/"><img class="icons" src="../../assets/icon-facebook.png" alt="Facebook"></a>
    </div>
  </div>
<div class="list2">
  <a href="https://about.instagram.com/"><span class="rounded-links">Contact us</span></a>
  <a href="https://about.instagram.com/"><span class="rounded-links">Media</span></a>
  <a href="https://about.instagram.com/"><span class="rounded-links">About</span></a>
</div>
  <div class="list3">
    <div class="ordinary-links"><a href="https://about.instagram.com/">Site Map</a></div>
    <div class="ordinary-links"><a href="https://about.instagram.com/blog"> Privacy & Cookie Policy</a></div>
    <div><a href="https://about.instagram.com/about-us/careers">Jobs</a></div>
  </div>
</footer>
